/* HEADER */

header {
  width: 100%;
  background-image: url("../../assets/images/giant_panda.svg");
  background-size: cover;
}

/* nav */

nav {
  width: 100%;
  background: black;
}

.navigation {
  padding: 0.875rem 0;
  gap: 3.9375rem;
}

.logo {
  width: 5rem;
  height: 3rem;
  border: 1.18841px solid var(--white);
  background: url("../../assets/images/bamboo.svg") no-repeat;
  background-position: 10% 65%;
  color: var(--white);
}

.menu {
  flex-grow: 1;
  gap: 58px;
}

.menu .credit {
  margin-left: auto;
}

/* hero */

.hero {
  position: relative;
  align-items: flex-end;
}

.hero__text {
  margin-top: 0.75rem;
}

.hero__text {
  background-image: url("../../assets/images/ellipse.svg");
  background-repeat: no-repeat;
}

.hero__text p {
  margin-left: 5rem;
  font-weight: 700;
  font-size: 6.65rem;
  line-height: 75%;
  text-transform: uppercase;
  color: var(--white);
}

.hero__text p:first-of-type {
  margin-top: 5rem;
}

.hero__text p span {
  color: var(--yellow);
}

.hero__btn {
  margin: 3.75rem 6rem 6.25rem;
}

/* MAIN */

/* BACKSTAGE */

.backstage {
  background-image: url("../../assets/images/flower_foto1.jpg");
  background-repeat: no-repeat;
  background-size: 13%;
  background-position: top right;
}

.backstage__content {
  gap: 5.4375rem;
  padding: 8.75rem 0 11.25rem;
}

.backstage__img,
.backstage__text {
  width: 100%;
}

.backstage__img img {
  width: fit-content;
}

.backstage__text__title {
  margin-bottom: 1.25rem;
}

.backstage__text__p1 {
  margin-bottom: 3.375rem;
  line-height: 130%;
}

.backstage__text__subtitle {
  margin-bottom: 2.125rem;
}

/* PETS */

.pets {
  background-image: url("../../assets/images/palm_foto.svg"),
    url("../../assets/images/strelitzia_foto.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 880px 460px, 368px 275px;
  background-position: bottom left -40%, bottom right;
}

.pets {
  gap: 5rem;
}

.pets__slider {
  gap: 1.25rem;
}

.pets__left {
  transform: rotate(180deg);
}

.btn-arrow img {
  width: auto !important;
  max-width: none !important;
}

.pets__center {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1.875rem;
  row-gap: 1.25rem;
}

.pets__cards {
  width: 366px;
  height: 426px;
  border: 1px solid var(--orange-secondary);
  border-radius: 5px;
}

.pets__cars__img {
  width: 366px;
  height: 366px;
}

.pets__cards figcaption {
  display: grid;
  justify-content: space-between;
  padding: 0.5rem 1rem 0.875rem;
}

.pets__cards figcaption .pets__title {
  grid-column: 1/2;
  grid-row: 1/2;
}

.pets__cards figcaption .pets__subtitle {
  grid-column: 1/2;
  grid-row: 2/3;
}

.pets__cards figcaption .icon {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 100%;
}

.pets__cards figcaption .icon .banana {
  width: 2.0625rem;
  height: 2.3125rem;
}

.pets__cards figcaption .icon .meat {
  width: 3rem;
  height: 2.375rem;
}

.pets__btn {
  margin-bottom: 6.25rem;
}

/* FRIENDS */

.friends {
  background: var(--orange-gradient);
  opacity: 0.9;
  padding: 69px 0 100px;
}

.friends__content {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  gap: 3.75rem;
}

.friends__header {
  margin-top: 41px;
  margin-bottom: 30px;
  color: #fe9013;
}

.friends_text0 {
  margin-bottom: 40px;
}

.friends_text1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 10px;
}

.friends_text2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-right: 198px;
}

.margin-left {
  margin-left: 99px;
}

.friends-2__content {
  margin-top: 2.5rem;
}

.friends-2__content__card {
  width: 10.5rem;
  height: 15.25rem;
  gap: 1.875rem;
}

.friends-2__content__card__img {
  width: 10.5rem;
  height: 10.5rem;
  border: 1px solid #f9804b;
  border-radius: 5px;
  background-color: #fff;
}

.friends-2__content__card__img img {
  width: auto !important;
  max-width: none !important;
}

.friends-2__content__card__arrow {
  margin-top: 3.875rem;
  margin-left: 30px;
  margin-right: 31px;
}

.friends-3 {
  margin-bottom: 59px;
}

/* TESTIMONIALS */

.testimonials {
  background-image: url("../../assets/images/leav_foto.svg");
  background-repeat: no-repeat;
  background-size: 300.92px 295.45px;
  background-position: 105% 118%;
}

.testimonials__slider {
  margin-bottom: 60px;
}

.slider__inp {
  width: 50%;
  margin: 0 auto;
}

.testimonials__content h3 {
  margin-top: 140px;
  margin-bottom: 2.9rem;
}

.testimonials__content button {
  margin-bottom: 180px;
}

.cards__card {
  padding: 15px 15px 19px 16px;
  position: relative;
  background-color: #f1f3f2;
}

.cards__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid;
  border-image: linear-gradient(
    to right,
    #febdab 74%,
    #f3a9f8 66%,
    #e0d8f0 100%,
    #eaf7fe 100%,
    #eaf7fe 100%
  );
  border-image-slice: 1;
}

.slider__cards {
  gap: 1.875rem;
  margin-bottom: 21px;
}

.card__title {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 11px;
}

.card__title__img {
  align-self: center;
}

.card__title__content {
  display: flex;
  flex-wrap: wrap;
}

.inline {
  display: inline;
  margin-right: 5px;
}

input[type="range"] {
  width: 100%;
  height: 0.5rem;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.6rem;
  cursor: pointer;
  background: #fff;
  border-radius: 11px;
  border: 1px solid #e65a1e;
}

input[type="range"]::-webkit-slider-thumb {
  height: 100%;
  width: 7rem;
  border-radius: 5px;
  background: #fe9013;
  cursor: pointer;
  -webkit-appearance: none;
}

/* FOOTER */

footer {
  background-color: #000;
  padding: 40px 0 50px;
}

/* footer__top */

.footer__top {
  align-items: flex-start;
}

.footer__top .form {
  gap: 1rem;
}

.footer__top .form__input {
  width: 14.25rem;
  height: 2.625rem;
  color: #bdbdbd;
  border: 1px solid orange;
  background-color: transparent;
  margin-right: 10px;
}

.footer__top .form__submit {
  width: 8.06rem;
  height: 2.625rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f1f3f2;
  cursor: pointer;
}

.footer__top .form__submit:active {
  border-color: green;
}

/* footer__middle */

.footer__middle {
  margin-top: 68px;
  margin-bottom: 44px;
}

/* footer__bottom */

.footer__bottom {
  align-items: flex-end;
}

.footer__bottom .social {
  gap: 10px;
}

.footer__bottom .social .flex-row {
  gap: 12px;
  justify-content: left;
}

.footer__bottom .social i {
  width: 26px;
  height: 26px;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__bottom .menu {
  flex-grow: 0;
}

.footer__bottom .credits {
  font-weight: 100;
  line-height: 130%;
  color: white;
}
