@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

body * {
  margin: 0;
  padding: 0;
}

.outer-container {
  max-width: 1600px;
  margin: 0 auto;
}

.inner_container {
  width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: orange;
}

.btn-1 {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-2 {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.btn-arrow {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

.btn-1:hover,
.btn-2:hover {
  background: #e47209;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

h1 {
  font-size: 114px;
  font-weight: 700;
  line-height: 80%;
}

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.small_paragraph {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.icon {
  width: 33px;
  height: 37px;
}

figure {
  margin: 0;
}

.white {
  color: #fff;
}

.white:hover {
  color: orange;
}

.orange {
  color: #f9804b;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
