@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --orange-gradient: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --pink-gradient: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );

  --orange-primary: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  --orange-secondary: #e47209;
  --white: #fff;
  --yellow: #ffee2e;
  --green: #4b9200;
  --red: #d31414;
  --black-blue: #333b41;
  --light-grey: #f1f3f2;
  --grey: #767474;
  --smoky-gray: #ababab;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

body * {
  margin: 0;
  padding: 0;
}

.outer-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.inner_container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:visited {
  color: var(--white);
}

a:hover {
  color: var(--orange-secondary);
}

.btn-1 {
  width: 298px;
  height: 54px;
  background: var(--orange-primary);
  color: var(--white);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-2 {
  width: 298px;
  height: 54px;
  background: var(--orange-primary);
  color: var(--white);
  border: none;
  cursor: pointer;
}

.btn-1:hover,
.btn-2:hover {
  background: var(--orange-secondary);
}

.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  text-transform: uppercase;
}

.btn-arrow {
  width: 62px;
  height: 62px;
  border-radius: 50%;
}

h1 {
  font-size: 1.1884rem;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
}

h3 {
  font-size: 36px;
  font-weight: 400;
  line-height: 130%;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
}

.small_paragraph {
  font-size: 15px;
  font-weight: 300;
  line-height: 120%;
}

.icon {
  width: 33px;
  height: 37px;
}

figure {
  margin: 0;
}

fieldset {
  border: none;
}

img {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.stretch {
  justify-content: space-between;
  align-items: stretch;
}

.text-center {
  text-align: center;
}
