/* HEADER */

header {
  width: 100%;
  height: 29.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/giant_panda.svg");
  background-size: cover;
  background-position: 0% 35%;
}

/* nav */

nav {
  width: 100%;
  background: black;
}

.navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0.875rem 0;
  gap: 3.9375rem;
}

.logo {
  display: flex;
  align-items: center;
  width: 5rem;
  height: 3rem;
  border: 1.18841px solid #ffffff;
  background: url("../../assets/images/bamboo.svg") no-repeat;
  background-position: 10% 65%;
}

.logo h1 {
  font-size: 1.1884rem;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

.menu {
  flex-grow: 1;
  gap: 58px;
}

.menu .credit {
  margin-left: auto;
}

/* MAIN */

main {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
}

.main__container {
  padding: 40px 0 30px;
}

.information h3 {
  text-transform: uppercase;
}

.information p {
  margin-top: 10px;
}

.text {
  margin-top: 40px;
}

.text h3 {
  text-align: left;
}

/* donation form */

.donation {
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  margin: 60px auto 30px;
}

.donation-padding {
  padding: 40px 92px 46px;
}

.donation .subtitle {
  margin-top: 20px;
}

.donation__diet {
  justify-content: center;
  margin-top: 85px;
}

.donation__diet .diet__text img {
  width: 82px;
  height: 58px;
  margin: 0 auto 10px;
}

.donation__diet .diet__icon {
  margin-left: 11px;
  margin-right: 64px;
}

.donation__diet .diet__widget img {
  object-fit: none;
  object-position: 0 -20px;
}

.donation__form {
  width: 100%;
  margin-top: 18px;
}

.donation__form legend {
  margin-bottom: 10px;
}

.donation__form .radiobuttons {
  background-color: #404950;
  padding: 6px 26px;
  position: relative;
}

.donation__form .radiobuttons .rectangle {
  width: 93%;
  height: 2px;
  background-color: #72828e;
  position: absolute;
  top: auto;
  left: 35px;
}

.donation__form .radiobuttons input {
  z-index: 999;
}

.donation__form .labels {
  padding: 8px 26px 9px 0;
}

.donation__form .labels p {
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  text-transform: uppercase;
}

.donation__form .radiobuttons__amount {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 0;
  background-color: #ffee2e;
  background-clip: content-box;
  border: none;
  border-radius: 50%;
  appearance: none;
}

.donation__form .radiobuttons__amount:checked {
  background-color: #ffee2e;
  border: 0.1px solid orange;
}

/* form-input  */

.donation__form .form__input {
  margin-top: 40px;
  align-self: center;
  justify-content: center;
  gap: 26px;
}

.donation__form .form__input__amount {
  gap: 50px;
}

.donation__form input[type="text"] {
  width: 268px;
  height: 54px;
  background: url("../../assets/icons/dollar_sign.svg") no-repeat right 10px
    center;
  color: #929699;
  border: 1px solid #929699;
  border-radius: 5px;
  padding: 0 10px;
}

.rbtn-2 {
  width: 16px;
  height: 16px;
  appearance: none;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #fe9013;
}

.rbtn-2:checked {
  background: #4b9200;
  border: none;
}

.donation__form .btn-1 {
  margin: 31px auto;
}

/* FOOTER */

footer {
  background-color: #000;
  padding: 40px 0 50px;
}

/* footer__top */

.footer__top {
  align-items: flex-start;
}

.footer__top .form {
  gap: 1rem;
}

.footer__top .form__input {
  width: 14.25rem;
  height: 2.625rem;
  color: #bdbdbd;
  border: 1px solid orange;
  background-color: transparent;
  margin-right: 10px;
  padding: 0 10px;
}

.footer__top .form__submit {
  width: 8.06rem;
  height: 2.625rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f1f3f2;
  cursor: pointer;
}

.footer__top .form__submit:active {
  border-color: green;
}

/* footer__middle */

.footer__middle {
  margin-top: 68px;
  margin-bottom: 44px;
}

/* footer__bottom */

.footer__bottom {
  align-items: flex-end;
}

.footer__bottom .social {
  gap: 10px;
}

.footer__bottom .social .flex-row {
  gap: 12px;
  justify-content: left;
}

.footer__bottom .social i {
  width: 26px;
  height: 26px;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__bottom .social .flex-row a:hover + a {
  color: orange;
}

.footer__bottom .menu {
  flex-grow: 0;
}

.footer__bottom .credits {
  font-weight: 100;
  line-height: 130%;
}
